.logincontainer{
    display: grid;
    place-items: center;
    width: 100%;
    height:780px;
    background-color: #E1F9F4;
}
.logbox{
    
        width: 564px;
        height:583px;
        margin-top: 80px;
        background-color: white;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        text-align: center;
    
}
input{
    margin: 20px;
    height:54px;
    width: 450px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    border-color: rgba(190, 184, 184, 0.5);
    padding-left: 10px;
}
.input-wrapper{
  display: flex;
}
.password-field{
    padding:0.5rem 1rem;
    font-size: 1.2rem;
    padding-right: 2.8rem;
}
.signin{
    height: 70px;
    width: 499px
}
.btn{
    padding: 0.6rem;
    font-size: 1.2rem;
    outline:none;
    border:none;
    background-color: transparent;
    margin-left: -2.76rem;
    cursor:pointer;
    width: 10px;
    color: grey;
}
svg{
    margin-left: -11px;
    margin-top: 17px;
}